<h1>Log In Below:</h1>

<form action ='/registrations' method="post">
  <p><input type = "text" name = "user_id" id="user_id"></p>
  <p><input type = "text" name = "password">
  </p>
  <input name="Log In" type="submit" id="Log In" >

</form>